body {
	background: linear-gradient(135deg, #c7bfbf, #ad5e5e);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial, sans-serif;
	margin: 2% 3% 3% 4%;
  }
img{
	border: 5px solid rgb(80, 50, 50);
	border-radius: 3px;
}
header{
	text-align: left;
	margin-left: 8%;
	h1{
		text-decoration: underline rgb(187, 4, 4);
	}
	img{
		border: 10px solid rgb(80, 50, 50);
		border-radius: 3px;
	}
}
.separador-horizontal {
    border-top: 5px solid #ccc;
    margin: 20px 0;
}
h1,h2,h3{
	text-decoration: underline rgb(187, 4, 4);
}
form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ad6363;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input[type="number"]{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="button"] {
	background-color: rgb(187, 4, 4);
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	
	
}
input[type="button"]:hover {
	background-color: #0056b3;
}
/*contraseña github Yomi321*
nombre de usuario Yomihara123
correo yomimarq.23@gmail.com